{% extends "news/base.html" %}

{% block titleBlock %}
    用户中心
{% endblock %}


{# script部分 #}
{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>

{% endblock %}

{#正文部分#}
{% block contentBlock %}
    <div class="user_menu_con fl">
			<div class="user_center_pic">
{#                判断用户是否有头像#}
                {% if data.user_info.avatar_url %}
				    <img src="{{ data.user_info.avatar_url }}" alt="用户图片">
                {% else %}
                    <img src="../../static/news/images/user_pic.png" alt="用户图片">

                {% endif %}
			</div>
			<div class="user_center_name"> {{ data.user_info.nick_name }} </div>

			<ul class="option_list">
				<li class="active"><a href="/user/base_info" target="main_frame">基本资料</a></li>
				<li><a href="/user/pic_info" target="main_frame">头像设置</a></li>
				<li><a href="/user/user_follow" target="main_frame">我的关注</a></li>
				<li><a href="/user/pass_info" target="main_frame">密码修改</a></li>
				<li><a href="/user/collection" target="main_frame">我的收藏</a></li>
				<li><a href="/user/news_release" target="main_frame">新闻发布</a></li>
				<li><a href="/user/news_list" target="main_frame">新闻列表</a></li>
			</ul>
		</div>

		<div class="user_con fr">
			<iframe src="/user/base_info" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
		</div>
{% endblock %}

{#rank部分#}
{% block rankBlock %}

{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#	<meta charset="UTF-8">#}
{#	<title>用户中心</title>#}
{#	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">#}
{#	<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">#}
{#	<script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>#}
{#	<script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>#}
{#	<script type="text/javascript" src="../../static/news/js/main.js"></script>#}
{#</head>#}
{#<body>#}
{#	<div class="header_con">#}
{#		<div class="header">#}
{#			<a href="#" class="logo fl"><img src="../../static/news/images/logo.png" alt="logo"></a>#}
{#			<div class="user_login fr" style="display: block;">#}
{#				<img src="../../static/news/images/user_pic.png" class="lgin_pic">#}
{#				<a href="#">用户张山</a>#}
{#				<a href="#">退出</a>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	#}
{#	<div class="conter_con">#}
{#		<div class="user_menu_con fl">#}
{#			<div class="user_center_pic">#}
{#				<img src="../../static/news/images/user_pic.png" alt="用户图片">#}
{#			</div>#}
{#			<div class="user_center_name">用户张山</div>#}
{##}
{#			<ul class="option_list">#}
{#				<li class="active"><a href="../../static/news/html/user_base_info.html" target="main_frame">基本资料</a></li>#}
{#				<li><a href="../../static/news/html/user_pic_info.html" target="main_frame">头像设置</a></li>#}
{#				<li><a href="../../static/news/html/user_follow.html" target="main_frame">我的关注</a></li>#}
{#				<li><a href="../../static/news/html/user_pass_info.html" target="main_frame">密码修改</a></li>#}
{#				<li><a href="../../static/news/html/user_collection.html" target="main_frame">我的收藏</a></li>#}
{#				<li><a href="../../static/news/html/user_news_release.html" target="main_frame">新闻发布</a></li>#}
{#				<li><a href="../../static/news/html/user_news_list.html" target="main_frame">新闻列表</a></li>#}
{#			</ul>#}
{#		</div>#}
{##}
{#		<div class="user_con fr">#}
{#			<iframe src="../../static/news/html/user_base_info.html" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>#}
{#		</div>		#}
{#	</div>#}
{#	#}
{#    <div class="footer">		#}
{#		<div class="footer_links">#}
{#			<a href="">关于我们</a>#}
{#			<span>|</span>#}
{#			<a href="">联系我们</a>#}
{#			<span>|</span>#}
{#			<a href="">招聘人才</a>#}
{#			<span>|</span>#}
{#			<a href="">友情链接</a>#}
{#		</div>#}
{#		<p class="copyright">#}
{#			CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />#}
{#电话：010-****888    京ICP备*******8号#}
{#		</p>#}
{#	</div>#}
{#	#}
{#	<!-- 登录表单 -->#}
{#	<form class="login_form_con">#}
{#		<div class="login_form">#}
{#			<div class="login_title">#}
{#				<h3>登 录</h3>#}
{#				<a href="javascript:;" class="shutoff"></a>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="text" name="username" autocomplete="off">#}
{#				<div class="input_tip">用户名/手机号</div>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="password" name="password">#}
{#				<div class="input_tip">密码(不少于6位)</div>#}
{#			</div>#}
{#			<input type="submit" name="" value="登 录" class="input_sub">#}
{#			<div class="down_link">还没有账号？<a href="#" class="to_register">立即注册</a></div>#}
{#		</div>#}
{#		<div class="mask"></div>#}
{#	</form>#}
{#	#}
{#	<!-- 注册表单 -->#}
{#	<form class="register_form_con">#}
{#		<div class="register_form">#}
{#			<div class="register_title">#}
{#				<h3>注 册</h3>#}
{#				<a href="javascript:;" class="shutoff"></a>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="text" name="username" autocomplete="off" class="phone_input">#}
{#				<div class="input_tip">手机号</div>#}
{#				<div class="error_tip">手机号不能为空</div>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="password" name="code_pwd" class="code_pwd">#}
{#				<div class="input_tip">手机验证码</div>#}
{#				<a href="javascript:;" class="get_code">点击获取验证码</a>#}
{#				<div class="error_tip">验证码不能为空</div>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="password" name="password" class="pass_input">#}
{#				<div class="input_tip">密码(不少于6位)</div>#}
{#				<div class="error_tip">密码不能为空</div>#}
{#			</div>#}
{#			<div class="form_group">				#}
{#				<input type="password" name="code_pwd" class="code_pwd">#}
{#				<div class="input_tip">图形验证码</div>#}
{#				<img src="../../static/news/images/pic_code.png" class="get_pic_code">#}
{#				<div class="error_tip">图形码不能为空</div>#}
{#			</div>#}
{#			#}
{#			<div  class="form_group2 clearfix">#}
{#				<input type="checkbox" class="agree_input" checked>#}
{#				<p>同意使用条款，并已阅读"跟帖评论自律管理承诺书"</p>#}
{#				<div class="error_tip">请勾选</div>#}
{#			</div>#}
{#			<input type="submit" name="" value="注 册" class="input_sub">#}
{#			<div class="down_link">已有账号？<a href="#" class="to_login">立即登录</a></div>#}
{#		</div>#}
{#		<div class="mask"></div>#}
{#	</form>#}
{#</body>#}
{#</html>#}