<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_base_info.js"></script>
</head>
<body class="inframe_body">
    <form class="base_info">
        <h3>基本资料</h3>
        <div class="form-group">
            <label>个性签名：</label>
            <input id="signature" type="text" name="signature" class="input_txt" value = "{{ user.signature }}">
        </div>
        <div class="form-group">
            <label>用户昵称：</label>
            <input id="nick_name" type="text" name="" class="input_txt"  value="{{ user.nick_name }}">
        </div>
        <div class="form-group">
            <label>性别：</label>
            {% if user.gender == "MAN" %}
                <input class="gender" type="radio" name="gender" checked="checked", value="MAN"><b>男</b>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="gender" type="radio" name="gender", value="WOMAN">  <b>女</b>
            {% else %}
                <input class="gender" type="radio" name="gender" value="MAN" ><b>男</b>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="gender" type="radio" name="gender" checked="checked" value="WOMAN"><b>女</b>

            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" value="保 存" class="input_sub">
        </div>
    </form>
</body>
</html>